.exemple-div-1{
    border: 1px solid black;
}
.exemple-div-2{
    border: 1px solid red;
}

.exemple-a-1{
    border: 1px solid red;
}

.exemple-a-2{
    border: 1px solid black;
}

.exemple-span{
    border: 1px solid red;
}

.exemple-section{
    border: 1px solid black;
}

.div-parente{
    border: 1px solid red;
    text-align: center;
}

.div-enfant{
    border: 1px solid black;
    display: inline-block;
    width:32%

}

.div-parente-flex{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.div-enfant-flex{
    border: 1px solid black;
}

h2{
    color : blue
}

.red {
    color: red !important;
}

h2.titre-h2 {
    color : green
}



#id-h2-1 {
    color: violet
}


