@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: black;
    margin: 0%;
}
.page{
    display: grid;
    margin: 0%;
}

.navbarBack{
    background-color: #1A1A1A;   
}
.leftLogo {                  /* correggere il div del logo*/
    margin: auto;
    width: 50%;
    padding: 10px;
  }

#logoLittle{                /* correggere dimensione logo*/
    display: block;
    margin: auto;
    width: 5%;
}
li {
    display: grid;
    float: left;
    text-align: center;
    padding: 14px 18px 20px;
    text-decoration: none;
    font-size: 17px; 
}
.nav{
    font-family: Roboto;
    color: white;
    text-decoration: none;
}
.centerLogo {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

#logoBig{
    display: block;
    margin: auto;
    width: 50%;
}

h2{
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    color: white;   
}

.h3{
    margin: 1% 15% 1% 15%;
    padding: 0% 15% 0% 15%;
    display: block;
}
h3{
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    color: white; 

}

.buttonCoursDiv{
    margin: auto;
    display: block;
    background-color: none;


}

.buttonCours{
    font-size: 90%;
    border-radius: 18px;
    font-family: Roboto;
    font-weight: bold;
    background-color: white;
    padding: 1% 15% 1% 15%;
    height: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 200px;
}